<ion-row>
  <ion-col col-md-6>
    <ion-card class="personalData">

      <ion-card-header>
        {{ "ABOUT_ME" | translate }}

        <button *ngIf="isLogged" edit-profile ion-button small end clear icon-only (click)="editData('personalData');">
          <ion-icon item-start name="create"></ion-icon>
          {{ "EDIT" | translate }}
        </button>

      </ion-card-header>

      <ion-card-content class="about">

        <p *ngIf="biography.value">
          <strong>{{ "BIOGRAPHY" | translate }}</strong>
          {{ biography.value }}
        </p>

        <ul>
          <li *ngIf="birthdate.value"><strong>{{ "BIRTHDATE" | translate }}</strong>
            {{ birthdate.value | date }}</li>
          <li *ngIf="rg.value"><strong>{{ "RG" | translate }}</strong>
            {{ rg.value }}</li>
          <li *ngIf="cpf.value"><strong>{{ "CPF" | translate }}</strong>
            {{ cpf.value }}</li>
          <li *ngIf="gender.value"><strong>{{ "GENDER" | translate }}</strong>
            {{ gender.value | translate }}</li>
          <li *ngIf="telefone.value"><strong>{{ "TELEPHONE" | translate }}</strong>
            {{ telefone.value }}</li>
          <li class="address">
            <strong>{{ "ADDRESS" | translate}}</strong>
            <span>{{ address.value }}</span><span>{{ neighbornhood.value }}</span>
            <span>{{ city.value }}</span><span>{{ state.value }}</span>
            <span>{{ country.value }}</span>
          </li>
        </ul>

      </ion-card-content>

    </ion-card><!-- Personal Data -->

    <ion-card class="my-sports">

      <ion-card-header>
        
        {{ "MY_SPORTS" | translate }}

        <button *ngIf="isLogged" edit-profile ion-button small end clear icon-only (click)="editData('sportsData');">
          <ion-icon item-start name="create"></ion-icon>
          {{ "EDIT" | translate }}
        </button>
      </ion-card-header>

      <ion-card-content>

        <ion-item-group class="sports" *ngIf="sport != undefined && sport.length > 0">
          <ion-list>
            <ion-badge class="sport-badge" *ngFor="let item of sport">
              {{ item.sport_name }}
            </ion-badge>
          </ion-list>
        </ion-item-group>

        <ion-item-group class="clubs" *ngIf="clubes != undefined && clubes.length > 0">
          {{ "CLUBS" | translate }}
          <ion-list>
            <div class="about-item" *ngFor="let club of clubes">
              <h4>
                {{ club.club_name }}
                <ion-badge class="club-badge" *ngIf='club.certify != undefined' [ngClass]="{'verified': club.certify == '[Verified]'}">
                  <ion-icon name="bookmarks"></ion-icon> 
                  {{ club.certify | translate }}
                </ion-badge>
              </h4>
            </div>
          </ion-list>
        </ion-item-group>

        <ion-item-group *ngIf="formacao != undefined && formacao.value.length > 0">
          {{ "FORMATION" | translate }}
          <ion-list>
            <div class="about-item" *ngFor="let form of formacao.value">
              <h4><strong>{{ 'INSTITUTE' | translate }}</strong>: {{ form[0] }}</h4>
              <p><strong>{{ 'COURSE' | translate }}</strong>: {{ form[1] }}</p>
              <p><strong>{{ 'YEAR' | translate }}</strong>: {{ form[2] }}</p>
            </div>
          </ion-list>
        </ion-item-group>

        <ion-item-group *ngIf="cursos != undefined && cursos.value.length > 0">
          {{ "COURSES" | translate }}
          <ion-list>
            <div class="about-item" *ngFor="let form of cursos.value">
              <h4><strong>{{ 'INSTITUTE' | translate }}</strong>: {{ form[0] }}</h4>
              <p><strong>{{ 'COURSE' | translate }}</strong>: {{ form[1] }}</p>
              <p><strong>{{ 'YEAR' | translate }}</strong>: {{ form[2] }}</p>
            </div>
          </ion-list>
        </ion-item-group>

      <ng-container *ngIf="type >= 3" ><!-- Instituições -->

        <div class="institute-about">
          <ul> 
            <li *ngIf="club_site.value"><strong>{{ "WEBSITE" | translate }}</strong>
              {{ club_site.value }}</li>
            <li *ngIf="club_sede.value"><strong>{{ "HEADQUARTERS" | translate }}</strong>
              {{ club_sede.value }}</li>
          </ul>
        </div>        
        
        <ion-item-group *ngIf="eventos != undefined && eventos.value.length > 0">
          {{ "EVENTS" | translate }}
          <ion-list>
            <div class="about-item" *ngFor="let form of eventos.value">
              <h4><strong>{{ 'NAME' | translate }}</strong>: {{ form[0] }}</h4>
              <p><strong>{{ 'ABOUT' | translate }}</strong>: {{ form[1] }}</p>
              <p><strong>{{ 'YEAR' | translate }}</strong>: {{ form[2] }}</p>
            </div> 
          </ion-list>
        </ion-item-group>

        <ion-item-group *ngIf="club_liga != undefined && club_liga.value.length > 0"> 
          {{ "TOURNAMENT" | translate }}
          <ion-list>
            <div class="about-item" *ngFor="let liga of club_liga.value">
              <h4><strong>{{ 'POSITION' | translate }}</strong>: {{ liga[0] }}</h4>
              <p><strong>{{ 'CHAMPIONSHIP' | translate }}</strong>: {{ liga[1] }}</p>
              <p><strong>{{ 'YEAR' | translate }}</strong>: {{ liga[2] }}</p>
            </div>
          </ion-list>
        </ion-item-group>
      
      </ng-container>

      </ion-card-content>

    </ion-card><!-- Sports Data -->

    <ion-card class="myVideos" *ngIf="videos">

      <ion-card-header>
        {{ "VIDEOS" | translate }}

        <button *ngIf="isLogged" edit-profile ion-button small end clear icon-only (click)="editData('videosData');">
          <ion-icon item-start name="create"></ion-icon>
          {{ "EDIT" | translate }}
        </button>

      </ion-card-header>

      <ion-item-group>
        <ion-item>
          <ion-row no-padding>

            <ng-container *ngFor="let video of videos">
              <iframe width="100%" height="240" [src]="video" frameborder="0" allowfullscreen></iframe>
            </ng-container>

          </ion-row>
        </ion-item>
      </ion-item-group>

    </ion-card><!-- My Videos -->

    <ion-card class="my-team" *ngIf="type > 3">

      <ion-card-header>
        {{ "MY_TEAM" | translate }}

        <button *ngIf="isLogged" edit-profile ion-button small end clear icon-only (click)="editData('teamData');">
          <ion-icon item-start name="create"></ion-icon>
          {{ "ADD_NEW_MEMBER" | translate }}
        </button>

      </ion-card-header>

      <ion-card-content>

          <p>{{ "MY_TEAM_INITIAL_MESSAGE" | translate }}</p>

          <ion-row no-padding>

              <ion-col col-6 *ngFor="let member of team">

                  <div class="member">

                      <member-list [member]="member"></member-list>
  
                      <ion-buttons *ngIf="isLogged">
                          <button edit-profile ion-button small start clear icon-only 
                          (click)="editMember(member.ID);">
                              {{ "EDIT" | translate }}  
                          </button>
        
                          <button edit-profile ion-button small end clear icon-only 
                          (click)="deleteMember(member.ID);">
                              {{ "DELETE" | translate }}
                          </button>
        
                      </ion-buttons>

                  </div><!-- member -->
  
              </ion-col>
  
            </ion-row>

      </ion-card-content>

    </ion-card><!-- My Videos -->

  </ion-col>

  <ion-col col-md-6>
    <ion-title>
      {{ "LAST_ACTIVITY" | translate }}
    </ion-title>
    <timeline *ngIf="ID" [timelineID]="ID"></timeline>
  </ion-col>

</ion-row>
