<ion-row>
  <ion-col col-lg-2 col-12>
    <div class="statsGeneralData">

      <button *ngIf="isLogged" edit-profile ion-button small end clear icon-only (click)="editData('generalData');">
        <ion-icon item-start name="create"></ion-icon>
        {{ "EDIT" | translate }}
      </button>

      <ul *ngIf="general">
        <li class="box-stats" *ngIf="general.titulos"><strong>{{ "QTD_ACHIEVEMENT" | translate }}</strong>
          {{ general.titulos }}</li>
        <li class="box-stats" *ngIf="general.jogos"><strong>{{ "MATCHS" | translate }}</strong>
          {{ general.jogos }}</li>
        <li class="box-stats" *ngIf="general.vitorias"><strong>{{ "VICTORYS" | translate }}</strong>
          {{ general.vitorias }}</li>
        <li class="box-stats" *ngIf="general.empates"><strong>{{ "DRAWS" | translate }}</strong>
          {{ general.empates }}</li>
        <li class="box-stats" *ngIf="general.derrotas"><strong>{{ "LOSES" | translate }}</strong>
          {{ general.derrotas }}</li>
      </ul>

    </div>
  </ion-col>
  <ion-col col-12 col-lg-10>
    <ion-col col-12>
      <ion-card class="statsAchievementsData">

        <ion-card-header>
          <h2>{{ "IMPORTANT_ACHIEVEMENTS" | translate }}</h2>

          <button *ngIf="isLogged" edit-profile ion-button small end clear icon-only (click)="editData('achievementsData');">
            <ion-icon item-start name="create"></ion-icon>
            {{ "EDIT" | translate }}
          </button>

        </ion-card-header>

        <ion-card-content *ngIf="general">

          <ion-item-group *ngIf="general['titulos-conquistas'] != (null || undefined), else elseAchieve">
            <ion-row>
              <ion-col col-12 col-sm-6 col-md-4 class="box-titulo" *ngFor="let titulo of general['titulos-conquistas']">
                <h4 class="box-stats">
                  <ion-icon start name="medal" [ngClass]="{'gold': titulo[0] == 1, 'silver': titulo[0] == 2, 'bronze': titulo[0] == 3 }"></ion-icon>
                  {{ titulo[0] }}
                </h4>
                <p class="championship">{{ titulo[1] }}</p>
                <p>{{ titulo[2] }}</p>
              </ion-col>
            </ion-row>
          </ion-item-group>

          <ng-template #elseAchieve>
            
            {{ "NOT_TO_SHOW" | translate }}

            <ion-label *ngIf="isLogged">
              {{ "COMPLETE_YOUR_DATA" | translate }}
            </ion-label>

          </ng-template>

        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col col-12 *ngIf="type == 1">

      <ion-card class="statsData">

        <ion-card-header>
          <h2>{{ "SPORTS_STATS" | translate }}</h2>

          <button *ngIf="isLogged" edit-profile ion-button small end clear icon-only (click)="editData('statsData');">
            <ion-icon item-start name="create"></ion-icon>
            {{ "EDIT" | translate }}
          </button>

        </ion-card-header>

        <ion-card-content>

          <div *ngIf="performance.stats != (null || ''), else elseBlock">
            <ion-item-group *ngFor="let sport of performance.stats | mapToIterable">

              <h3>{{ sport.key | translate | stringTitlecaseSpecialChars | removeTrace }}</h3>

              <ion-row>
                <ion-col class="sport-category-info" col-12 *ngFor="let item of sport.val | mapToIterable">
                  <h4>{{ item.key | translate | stringTitlecaseSpecialChars }}</h4>
                  <ul>
                    <ng-container *ngFor="let i of item.val | mapToIterable">
                        <li class="box-stats" *ngIf="i.val">
                            <strong>{{ i.key }}</strong>
                            {{ i.val }} 
                          </li>
                    </ng-container>                    
                  </ul>
                </ion-col>
              </ion-row>

            </ion-item-group>
          </div>

          <ng-template #elseBlock>
            
            {{ "NOT_TO_SHOW" | translate }}

            <ion-label *ngIf="isLogged">
              {{ "COMPLETE_YOUR_DATA" | translate }}
            </ion-label>

          </ng-template>

        </ion-card-content>

      </ion-card>
    </ion-col>
  </ion-col>

</ion-row>
