<ion-header>
    <ion-toolbar>

        <ion-title>{{ "TIMELINE_ITEM" | translate }}</ion-title>

        <ion-buttons start (click)="dismiss()">
            <button ion-button>{{ "BACK" | translate }}</button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content>
    
    <ion-card class="timelineItem" *ngIf="TimelineItem">

        <timeline-single [currentTimeline]="TimelineItem"></timeline-single> 
    
    </ion-card>

    <ion-item-group class="timelineCommentsContainer">
        
        <comments [currentCommentItems]="currentCommentItems" [$postID]="$postID"></comments>

    </ion-item-group>


</ion-content>
