<ion-card-header [ngClass]="{'post-institucional': currentTimeline.post_author.type == 'administrator'}" >

  <ion-list>
    <ion-item>

      <ion-avatar class="btn-cursor" item-start (click)="goToProfile(currentTimeline.post_author)">
        <img *ngIf="currentTimeline.post_author.profile_img, else elseBlock" 
        [src]="currentTimeline.post_author.profile_img.value" />
        <ng-template #elseBlock>
          <img src="assets/img/user.png" />
        </ng-template>
      </ion-avatar>

      <h2 class="btn-cursor" (click)="goToProfile(currentTimeline.post_author)">{{ currentTimeline.post_author.display_name}}</h2>
      <h3 class="btn-cursor" (click)="goToProfile(currentTimeline.post_author)">{{ currentTimeline.post_date | date }}</h3>
    </ion-item>
  </ion-list>

  <div *ngIf="currentUser != undefined && currentUser.ID == currentTimeline.post_author.ID"  class="close-button" (click)="deleteTimeline(currentTimeline.ID)">
    <ion-icon name="close-circle"></ion-icon>
  </div>

</ion-card-header>

<ion-card-content [ngClass]="{'post-institucional': currentTimeline.post_author.type == 'administrator'}">

  <div *ngIf="currentTimeline.post_author.type == 'administrator'; else noHtml" class="timeline-content" [innerHTML]="currentTimeline.post_content"></div>

  <ng-template #noHtml>
    <div class="timeline-content">{{ currentTimeline.post_content }}</div>
  </ng-template>

  <ion-item class="image-content btn-cursor" *ngIf="currentTimeline.attachment">
    <img [src]="currentTimeline.attachment" />
  </ion-item>

  <ion-item-group>

    <ion-item-divider>

      <ion-list>

        <button ion-button icon-only small like value="{{ 'LIKE' | translate }}" [ngClass]="{'active': currentTimeline.has_like === true, 'inactive': currentTimeline.has_like === false}"
          (click)="setLike(currentTimeline.ID, $event)">
          <ion-icon md="ios-thumbs-up-outline"></ion-icon>
        </button>

        <button ion-button icon-only small like value="{{ 'COMMENT' | translate}}" (click)="openComment($event)">
          <ion-icon md="ios-chatbubbles-outline"></ion-icon>
        </button>

        <ion-note float-right class="btn-cursor count-responses" end>
          {{ "ANSWERS" | translate }}
          <ion-badge item-end badge-sm>
            {{ currentTimeline.quantity_comments }}
          </ion-badge>
        </ion-note>

      </ion-list>

    </ion-item-divider>

  </ion-item-group>

  <ion-item-group class="comment-section" *ngIf='commentShow'>

    <ion-row>
      <ion-col col-auto>
        <ion-item>
          <ion-avatar class="btn-cursor" item-start>
            <img *ngIf="currentUser.metadata.profile_img.value, else elseBlock" 
            [src]="currentUser.metadata.profile_img.value" />
            <ng-template #elseBlock>
              <img src="assets/img/user.png" alt="currentUser.display_name" />
            </ng-template>
          </ion-avatar>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-textarea name="comment_content" [(ngModel)]="commentText" type="text" placeholder="{{ 'YOUR_COMMENT' | translate }}"
          required></ion-textarea>
        <button ion-button small float-right end (click)="submitComment(currentTimeline.ID, $event)">{{ "PUBLISH" | translate }}</button>
      </ion-col>
    </ion-row>

  </ion-item-group>

</ion-card-content>
