.page-post { 

  #feature{
    background: linear-gradient(to top, $button-primary-color, $vermelho-contraste);
    padding:0px;
    margin: 0px;
    img{
      width: 100%;
    }
  }

  ion-card-content{
    font-weight: 100;
    margin-top: 30px;
  }

  ion-footer{
    margin-top: 80px;
    position: relative;
  }

}

.page-post {

  background-color: #f1f1f1;

}
