<ion-grid no-padding class="timeline-container">
    
    <ion-list>
        
        <ion-card *ngIf="currentItems.length <= 0">
            <ion-card-content>
                {{ "NOT_TO_SHOW" | translate }}
            </ion-card-content>
        </ion-card>

        <ion-card class="timelineItem" *ngFor="let data of currentItems; let $i = index" [id]="'timeline-post-' + data.ID"> 
            
            <timeline-single (timelineDeleted)="hideTimeline($event, $i)" (CommentUpdate)="updateTimelineComment($event, $i)" [currentUser]="currentUser" [currentTimeline]="data" (click)="getItem(data.ID, $event)"></timeline-single> 

        </ion-card>
    
    </ion-list> 

    <ion-infinite-scroll (ionInfinite)="loadMore($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-grid>