<ion-header>

  <ion-navbar>
    <ion-title>{{ "MESSAGES" | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="page-messages">

  <ion-grid>

    <ion-row justify-content-end> 

      <ion-col class="list-chat-members" col-12 col-md-3>

        <h2>{{ "CHAT_ROOMS" | translate }}</h2>

        <ion-scroll direction="y" scrollY="true" scrollbar-y="true" style="height: 400px;">

            <ion-list class="member-select">

              <ng-container *ngIf="$chatRooms">

                <member-chat (clickEvent)="loadData($event)" *ngFor="let room of $chatRooms" [room]="room"></member-chat>

              </ng-container>

            </ion-list>

        </ion-scroll>

      </ion-col>

      <ion-col col-12 col-md-9>
        <chat-room [$roomID]="$roomSelected"></chat-room>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  @2019 - AtletasNow
</ion-footer>
