.page-messages {
  background-color: $background;

  .member-select,
  .messages-list {
    member-chat {

      ion-list {
        border: 1px solid #ddd;
      }

      button {
        border-bottom: 1px solid #ddd;
      }
    }
  }

  .list-chat-members{
    margin: 0px;
  }
}
