<ion-header>

  <ion-navbar>
    <ion-title>{{ "MESSAGES" | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="page-messages">

  <ion-grid fixed>

    <ion-row padding> 

      <ion-col col-12 col-md-6>

        <ion-card class="list-chat-members">

          <ion-card-header>
            {{ "CHAT_ROOMS" | translate }}
          </ion-card-header>

          <ion-card-content>

            <ion-scroll direction="y" scrollY="true" scrollbar-y="true" style="height: 400px;">
              <ion-list class="member-select">

                <ng-container *ngIf="$chatRooms">

                  <member-chat (clickEvent)="loadData($event)" *ngFor="let room of $chatRooms" [room]="room"></member-chat>

                </ng-container>

              </ion-list>

            </ion-scroll>

          </ion-card-content>

        </ion-card>

      </ion-col>

      <ion-col col-12 col-md-6>
        <chat-room [$roomID]="$roomSelected"></chat-room>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  @2019 - AtletasNow
</ion-footer>
