.page-messages {

  .list-chat-members,
  .chat-message-container {

    position: fixed;
    top: 0;
    left: 0;
    height: 100%;

    &~ion-col {
      height: 100%;
      ;
    }

    @media screen and (min-width: 768px) {}
  }

  .list-chat-members {
    margin: $toolbar-wp-height 0px;
    padding: 25px 0px;
    background: $branco;

    h1{
      padding: 0px 15px;
    }
  }

  .chat-message-container {
    right: 0;
    left: auto;
    padding: 0;
  }

  .member-select,
  .messages-list {
    member-chat {

      ion-list {
        border: 1px solid #ddd;
      }

      button {
        border-bottom: 1px solid #ddd;
      }
    }
  }

}
