.page-messages {
  background-color: $background;

  .list-chat-members{
    padding: 25px 0px;
    background: linear-gradient(to top, $button-primary-color, $vermelho-contraste);

    h2{
      padding: 0px 15px;
      color: $branco;
    }

    @media screen and (min-width: 768px) {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;    

        & ~ ion-col{
          height: 100%;;
        }
    }
  }

  .member-select,
  .messages-list {
    member-chat {

      ion-list {
        border: 1px solid #ddd;
      }

      button {
        border-bottom: 1px solid #ddd;
      }
    }
  }

  .list-chat-members{
    margin: 0px;
  }
}
