<ion-grid class="timeline-container">
    
    <ion-list>
        <ion-card class="timelineItem" *ngFor="let data of currentItems"> 
            
            <img *ngIf="data.thumbnail != undefined" src="{{ data.thumbnail }}" />
            
            <ion-card-content>
                <ion-card-title>
                    <ion-avatar (click)="toProfile(data.post.ID)">
                        <ion-img [src]="data.post_author.profile_img.value"></ion-img>
                        <h2>{{ data.post_author.display_name}}</h2>
                        <h3>{{ data.post_date | date }}</h3>
                    </ion-avatar>
                </ion-card-title>
                <p>
                    {{ data.post_content }}                
                </p>

                <ion-row>
                    <ion-col></ion-col>
                    <ion-col class="comments">
                        <ion-item text-right label-sm>
                            Respostas
                            <ion-badge item-end badge-sm>{{ data.quantity_comments }}</ion-badge>
                        </ion-item>
                    </ion-col>
                </ion-row>   
                
                <ion-row>
                    <ion-col>
                        <button ion-button block outline>
                            <ion-icon md="ios-thumbs-up-outline"></ion-icon> 
                            {{ 'LIKE' | translate }}
                        </button>
                    </ion-col>
                    <ion-col>
                        <button ion-button block outline>
                            <ion-icon md="ios-chatbubbles-outline"></ion-icon> 
                            {{ 'COMMENT' | translate}}
                        </button>
                    </ion-col>
                </ion-row> 
    
            </ion-card-content>

            <ion-item *ngFor=''></ion-item>

        </ion-card>
    </ion-list> 

</ion-grid>