// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$vermelho: #5c0005;
$vermelho-contraste: rgb(160, 0, 42);
$background: #f1f1f1;
$branco: #ffffff;
$button-primary-color: rgb(255, 95, 0);
$notify-color: rgb(240, 74, 152);
$titulos: #d03014;

$font-family: "Open Sans", "Calibri", "Arial", cursive !important;

body {
  background-color: #f0f0f0 !important;
  font-family: $font-family;
  font-weight: normal;
  font-size: 1.5rem;
}

ion-app.md, .card-content-md, .card-md p, ion-label{
  font-family: $font-family;
  font-size: 1.6rem;
}

h1,
h2, 
ion-list-header,
ion-card-header,
ion-title,
.card-md h1, .card-md h2 {
  font-family: $font-family;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  color: $titulos !important;
}

.toolbar-title-md{
  font-weight: 900;
  font-size: 2.2rem;
}

[col-0],
[col-xs-0],
[col-md-0],
[col-lg-0],
[col-xl-0] {}

[col-0] {
  @media screen and (max-width: map-get($grid-breakpoints, sm )) {
    display: none !important;
  }
}

[col-md-0] {
  @media screen and (min-width: map-get($grid-breakpoints, sm )) and (max-width: 100%) {
    display: none !important;
  }
}

.hidden-mobile{
  @media screen and (max-width: map-get($grid-breakpoints, sm )) {
    display: none !important;
  }
}

.hidden-desktop{
  @media screen and (min-width: map-get($grid-breakpoints, sm )) {
    display: none !important;
  }
}

.title{
  font-size: 36px;
  font-weight: bolder;
}

.bolder{
  font-weight: bolder !important;
}

.lead{
  font-size: 24px;
}

.nomargin-nopadding {
  padding: 0px;
  margin: 0px;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.list-inline {
  padding: 0px;
  margin: 0px;

  li {
    display: inline-block;
  }
}

.no-list, [no-list]{
  list-style: none;
}

.button-atletas {
  display: block;
  border-radius: 3px;
  color: #000000;
  text-transform: capitalize;
  font-weight: 100;
  cursor: pointer;
  height: 100%;
  max-height: 38px;
  padding: 10px 15px;

  .messageCount{
    
  }

  &:hover {
    background-color: #eee;
    transition: ease-in 0.3s;
    font-weight: 900;
  }

}

/* RESETANDO ESTILOS DESNECESSÀRIOS */

input,
textarea,
select {
  font-weight: 100;
  color: #444;
}

ion-input{
  input.text-input-md, input.text-input {
    margin: 10px 0px; 
  }
}

ion-label,
.item-input .label-md {
  font-weight: bolder;
  color: #111;
}

.searchbar-md .searchbar-input,
.searchbar-input,
.text-input,
.item-cover,
textarea,
tag-input,
select, ion-select:not([visibility]) { 
  font-family: $font-family;
  border-radius: 3px;
  min-height: 36px;
  padding: 10px 15px;
  margin: 10px 0px; 
  background: $branco;
  border: 1px solid #e0e0e0;
  color: #555;
  box-shadow: none !important;
  font-weight: 100;
  font-size: 0.9em;
}

.searchbar-md .searchbar-search-icon, .searchbar-md .searchbar-md-cancel{
  display: none;
}

.searchbar-input{
  line-height: 0em !important;
}

tag-input,
select, ion-select:not([visibility]){
  padding: 6px 10px !important;  
  input{
    font-family: $font-family;
  }
}

.item-cover {
  background-color: transparent;
  border: 0px;
  background: none;
}

textarea.text-input,
input.text-input {
  padding-left: 10px;
  padding-right: 10px;

}

rl-tag-input,
select {

  rl-tag-input-item, input {
    font-family: $font-family;
    font-size: 14px !important;
  }

  input{
    background-color: transparent !important;
  }

}

.item-md {
  background-color: transparent;
}

.item-inner,
.item-divider-md {
  border-bottom: 0px !important;
}

.input-image {

  label {
    font-weight: 100;
    font-size: 0.8rem;
    text-align: center;
    height: 50px;
    padding: 5px;
    display: block;
    float: left;
    margin-right: 5px;

    &:hover{
      opacity: 0.7;
    }

    span {
      display: block;
    }
  }

  /** Esconder input de arquivos */
  input[type="file"] {
    display: none;
  }

}

.image-container {
  display: none;
  width: calc(100% + 32px);
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #f9f9f9;
  background-position: center center;
  margin: 10px -16px;
}

/* Botões */

.btn-cursor {
  cursor: pointer;
}

.button-default.button-md {
  border-radius: 3px;
  background-image: linear-gradient(100deg, $button-primary-color, $vermelho-contraste);
  background-color: transparent;
}

.button-outline {
  border-radius: 3px;
  border: 2px solid $vermelho-contraste;
  color: $vermelho-contraste;
  background-color: transparent;
}


.button[like],
.button[favorite],
.button-default.button-md[like],
.button-default.button-md[favorite] {

  background: initial;
  box-shadow: none;

  span,
  span.inactive {
    border-radius: 3px;
    background-color: initial;
    border-color: #555;
    color: #555;
  }

  &.active span,
  span.active {
    background-color: $button-primary-color;
    border-color: transparent;
    color: $branco;
  }
}

.button-clear {
  border-color: transparent;
  color: #555;
}

.multiple-new-item {
  background-color: #eaeaea;
  padding: 0px 10px 0px 0px;
  border-radius: 15px;
}

.toast-button {
  background: #fff !important;
  margin-right: 10px;
}

/* CLOSE */

.close-button {
  position: absolute;
  padding: 5px;
  top: 5px;
  right: 5px;
  cursor: pointer;
  font-size: 10px;
  font-weight: 100;
  ion-icon{
    font-size: 2.1em;
  }
}

/* Badge */

ion-badge,
.badge,
.badge-md {
  padding: 10px;
  border-radius: 22.5px;
  color: $titulos;
  background-color: #f7f2ef;
  margin-right: 10px;
  min-width: 70px;

  &.verified {
    color: $branco;
    background-color: green;
  }
}


.header-md{
  box-shadow: 1px 1px 15px rgba(125, 125, 125, 0.3); 
  &::after, ion-navbar::after{
    background-image: none;  
    height: 0px;
    bottom: -15px;
  }
}

ion-avatar {
  ion-img,
  img {
    border-radius: 50%;
    background-color: #f0f0f0;
  }
}

.card-header-md {
  border-bottom: 1px solid #ddd;
}

ion-card.card-md {
  box-shadow: 1px 1px 15px rgba(125, 125, 125, 0.1);
  border: 1px solid #ccc;
  margin-bottom: -1px;
  border-radius: 0px;
}

ion-img {
  background-color: transparent;
}

ion-header .item-md.item-block .item-inner {
  border: 0 !important;
  max-height: 40px !important;
}

//Componente header
ion-toolbar,
ion-navbar {
  .toolbar-background-md {
    background-image: linear-gradient(to left, $button-primary-color, $vermelho-contraste);
    border-bottom: 1px solid rgba(0,0,0,0.4);
    color: $branco;
  }

  & .toolbar-title-md,
  & .bar-button-default-md,
  & .bar-button-clear-md-default,
  & .bar-button-md-default {
    color: $branco !important;
  }
}

ion-navbar, ion-toolbar{
  button.bar-button-md, button[menuToggle]{
    border: 1px solid $branco;
  }
}

.popup {
  position: absolute;
  opacity: 0;
  transform: translateY(-15px) scale(0, 0);
  transform-origin: center top;
  transition: ease-out 0.2s;
  background-color: $branco;
  width: calc(100% - 30px);
  margin: auto 15px;
  top: 65px;
  z-index: -50;
  box-shadow: 5px 5px 50px 15px rgba(125, 125, 125, 0.1);
  border-radius: 5px;

  &::before{
    position: absolute;
    content: '';
    top: -13px;
    right: 5px; 
    width: 15px;
    height: 15px;
    background-color: $branco;  
    -webkit-clip-path: polygon(0% 87%, 50% 0%, 50% 0%, 100% 87%);
		clip-path: polygon(0% 87%, 50% 0%, 50% 0%, 100% 87%);
  }

  &.open {
    opacity: 1;
    transform: translateY(0px) scale(1, 1);
    transition: ease-in-out 0.3s;
    z-index: 99999;
  }

  &.popover-menu {
    max-width: 250px;
    transform-origin: right top;

    &::before{
      background-color: $titulos;
    }

    ion-list {
      button:first-child {
        background-color: $titulos;
        ion-label{
          color: #fff !important;
        }
        
      }
    }

  }

  @media screen and (min-width: map-get($grid-breakpoints, sm )) {
    max-width: 300px; 
  }

}


ion-select[visibility], ion-select[name="post_visibility"]{
  font-size: 11px;
  right: 0;
  top: 0;
  position: absolute;
  font-weight: bolder;
  color: $button-primary-color;

  .select-md .select-icon .select-icon-inner{
    color: $button-primary-color;
  }

  .item-cover{
    border:0px;
  }

}

/** Video Embed */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed,
.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Habiliar componente fixo */
.page-profile, .page-favorite{
  & > .scroll-content{
    contain:  initial;
  }
}

/** Mobile */

@media screen and (max-width: map-get($grid-breakpoints, sm )) {
  
  ion-app.md [padding], .row, ion-card.card-md{
    padding: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100%;  
  }

  profile-resume {    
    width: 100%;  
  }

}
