// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$vermelho: #5c0005; 
$vermelho-contraste: rgb(160,0,42);
$background: #f1f1f1;
$branco: #ffffff;
$button-primary-color: rgb(255,95,0);
$notify-color: rgb(240, 74, 152);

body{
    
}

[col-0], [col-xs-0], [col-md-0], [col-lg-0], [col-xl-0] {
    
}

[col-0] {
    @media screen and (max-width: --ion-grid-width-sm){
        display: none !important;
    }
}

[col-md-0] {
    @media screen and (min-width: --ion-grid-width-sm) and (max-width: 100%){
        display: none !important;
    }
}

.img-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.list-inline{
    padding: 0px;
    margin: 0px;
    li{
        display: inline-block;
    }
}

.button-atletas{
    display:inline-block;
    padding: 15px;
    border-radius: 15px;
    color: #555;
    text-transform: capitalize;
    font-weight: 500;
    cursor: pointer;
    border:1px solid transparent;

    &::after{
        content: "v";
        color: #888;
        margin-left: 5px;
        font-weight: 100;
    }

    &:hover{
        border-color: #f0f0f0;
        transition: ease-in 0.3s;
    }

}

/* RESETANDO ESTILOS DESNECESSÀRIOS */

input, textarea, select{
    font-weight: 100;
    color: #444; 
}

ion-label, .item-input .label-md{
    font-weight: 300;
    color: #111;
}

.searchbar-md .searchbar-input, .text-input, textarea{
    border-radius: 10px;
    padding: 6px 55px;
    background-color: $branco;
    border: 1px solid #ddd; 
    box-shadow: none;
    font-weight: 100;
}

textarea.text-input, input.text-input{
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;

}

rl-tag-input, select{
    background-color: #fff;
    padding: 10px 15px !important;
    border: 1px solid #ddd;
    box-shadow: none !important;
    border-radius: 10px;
}

.item-md{
    background-color: transparent;
}

.item-inner, .item-divider-md{
    border-bottom: 0px !important;
}

/* Botões */

.btn-cursor{
    cursor: pointer;
}

.button-default.button-md{ 
    background-color: $button-primary-color;
}

.button-outline{

    span, span.inactive{
        border-radius: 3px;
        background-color: transparent;
        border-color: #555;
        color: #555;
    }   

    &.active span, span.active{
        background-color: $button-primary-color;
        border-color: transparent;
        color: $branco;
    }

}

.button-clear, .button-outline{
    border-color: transparent;
    color: #555;
}

/* Badge */

.badge-md{
    background-color: $button-primary-color;
}

ion-avatar{
    ion-img, img{
        background-color: #cccccc;
        border-radius: 50%;
    }    
}

ion-card.card-md{
    box-shadow: 1px 1px 15px rgba(125,125,125,0.1);
}

ion-img{
    background-color: transparent;
}

ion-header .item-md.item-block .item-inner{
    border: 0 !important;
    max-height: 40px !important;
}

//Componente header
ion-toolbar, ion-navbar{
    .toolbar-background-md{
        background-color: $vermelho !important;
        background: url('../assets/img/dashboard/background-texture.jpg') no-repeat;
        background-size: cover;
        background-repeat: no-repeat;
        color: $branco;
    }

    & .toolbar-title-md, & .bar-button-default-md, & .bar-button-clear-md-default, & .bar-button-md-default{
        color: $branco !important;
    }
}

.popup{
    position: absolute;
    opacity:0;
    transform: translateY(-100px);
    transition: ease-out 0.3s;
    background-color: $branco;
    max-height: 500px;
    max-width: 300px;
    width: 100%;
    overflow-y: auto;
    z-index: -50;
    box-shadow: 5px 5px 50px 15px rgba(125,125,125,0.1);

    &.open{
        opacity:1;
        transform: translateY(0px);
        transition: ease-in 0.7s;
        z-index: 99999;
    }
}