<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ "SPORTS_STATS" | translate }}
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        {{ "CLOSE" | translate }}
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <form #statsData="ngForm" (submit)="save(statsData, $event)">

    <ion-list ngModelGroup="groupStats" #nameCtrl="ngModelGroup">

      <ion-list-header>
        <ion-title>{{ "SPORTS_STATS" | translate}}</ion-title>
      </ion-list-header>

      <ion-select name="visibility" [(ngModel)]="stats.visibility" interface="popover">
        <ion-option *ngFor="let item of visibility" [value]="item.value">
          {{item.option}}
        </ion-option>
      </ion-select>

      <div *ngFor="let sportArray of stats.value; let i = index">
    
        <ion-list *ngFor="let obj of sportArray | mapToIterable">

          <ion-list-header>
            <h2>{{ obj.key | translate | titlecase | removeTrace }}</h2>
          </ion-list-header>

          <ion-row *ngFor="let e of obj.val | mapToIterable">
            <ion-item>
              <h3>{{ e.key | translate | titlecase }}</h3>
            </ion-item>
            <ion-col col-md-4 *ngFor="let arr of e.val | mapToIterable">
              <ion-item>
                <ion-label stacked>{{ arr.key }}</ion-label>
                <ion-input min="0" [type]="defineTypeInput(arr.key)" full 
                  [(ngModel)]="stats.value[i][obj.key][e.key][arr.key]"
                  [name]="'stats.value['+ obj.key +']['+ i +']['+ e.key +']['+ arr.key +']'">
                </ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

        </ion-list>

      </div>

    </ion-list>

    <ion-item>
      <button type="submit" ion-button full>{{'SAVE' | translate}}</button>
    </ion-item>

  </form>

</ion-content>
