.chat-message-container {

  .messages-list {
    padding: 25px;
    margin-bottom: 0px;
    background-color: #f9edeb;

    .ballon-message {
      padding: 15px;
      background-color: #fff;
      border-radius: 5px;
      display: inline-block;
      font-weight: 100;
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    }

    .message-row {
      display: block;
      position: relative;
      margin-bottom: 10px;

      &.viewer-message {
        text-align: right;

        .ballon-message {
          background-color: orangered;
          color: #fff;
        }
      }

    }



  }

  .chatForm {
    background-color: $branco;
    width: 100%;
    box-shadow: 0px -5px 30px -10px rgba(0, 0, 0, 0.2);
  }

}
