<div class="messages-list">

    <p *ngIf="$chatNoMessages">
        {{ $chatNoMessages }}
    </p>

    <ion-list *ngFor="let room of $chatMessages; let $i = index" [ngClass]="{'viewer-message' : room.viewer }"
      class="message-row">

      <span class="ballon-message">

        {{ room.content }}
        <small>{{ room.date | date }}</small>
        
      </span>

    </ion-list>

</div><!-- container de mensagens -->

<div class="chatForm">
  <form #chatForm="ngForm" (submit)="addRoomMessage($event)" name='chatForm'>

    <ion-input item-start name="chat_content" class="margin-left" type="textarea" placeholder="{{ 'WRITE_MESSAGE' | translate }}"
        [(ngModel)]="$message" required></ion-input>

    <button item-end ion-button large clear icon-only type="submit">
      <ion-icon name="send"></ion-icon>
    </button>

  </form>

</div><!-- formulário de chat -->
