chat-room{
  display: block;
  height: 100%;
}

.messages-list {

  //Altura do navbar
  $height: $toolbar-wp-height + 82;

  padding: 25px 25px 0px;
  background-color: #f9edeb;
  border: 1px solid #ddd;
  overflow-y: auto;
  scroll-behavior: smooth;

  .ballon-message {
    padding: 5px 15px;
    background-color: #fff;
    border-radius: 5px;
    display: inline-block;
    font-weight: 100;

    small{
      color: #555;
      display: block;
      font-size: 1.0rem;
      margin-top: 5px;
      text-align: right;
    }
  }

  .message-row {
    display: block;
    position: relative;
    margin-bottom: 10px;

    &.viewer-message {
      text-align: right;

      .ballon-message {
        background-color: #ffcfc7;
      }
    }

  }

}

.chatForm {
  position: absolute;
  bottom: 0px;
  background-color: $branco;
  width: 100%;
  box-shadow: 0px -5px 30px -10px rgba(0, 0, 0, 0.2);
  border: 1px solid #ddd;

  ion-input{
    max-width: calc(100% - 95px);
    margin-left: 15px;
    float: left;
  }
}
