<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ "ADD_EVENT" | translate }}
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        {{ "CLOSE" | translate }}
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <form #calendarData="ngForm" (submit)="save(calendarData, $event)">

    <ion-list>
      <ion-item>
        <ion-select float-right name="post_visibility" interface="popover" [(ngModel)]="calendar.post_visibility">
          <ion-option *ngFor="let item of visibility" [value]="item.value" [selected]="item.value == 0">
            {{item.option}}
          </ion-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-item-group>
      <ion-row>
        <ion-col col-12>
          <ion-item>
            <ion-label stacked>{{ "TITLE" | translate}}</ion-label>
            <ion-input [(ngModel)]="calendar.post_title" name="post_title" type="text"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-12>
          <ion-item>
            <ion-label stacked>{{ "CONTENT" | translate }}</ion-label>
            <ion-textarea [(ngModel)]="calendar.post_content" name="post_content" type="text" maxlength="1000">
            </ion-textarea>
          </ion-item>
        </ion-col>
        <ion-col col-12 col-md-6>
          <ion-item>
            <ion-label stacked>{{ "RESUME" | translate }}</ion-label>
            <ion-input name="post_excerpt" type="text" [(ngModel)]="calendar.post_excerpt" maxlength="200"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-12 col-md-6>
          <ion-item>
            <ion-label stacked>{{ "DATE" | translate }}</ion-label>
            <ion-datetime name="post_calendar_date[0]" type="date" displayFormat="DD/MM/YYYY" 
              [(ngModel)]="calendar.post_calendar_date[0]"></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col col-12 col-md-6>
          <ion-item>
            <ion-label stacked>{{ "HOUR" | translate }}</ion-label>
            <ion-datetime name="post_calendar_date[1]" [(ngModel)]="calendar.post_calendar_date[1]" displayFormat="HH:mm">
            </ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col col-12 col-md-6>
          <ion-item>
            <ion-label stacked>{{ "TYPE_EVENT" | translate }}</ion-label>
            <ion-select eventTypes name="post_calendar_type" [(ngModel)]="calendar.post_calendar_type">
              <ion-option *ngFor="let type of eventTypes" [value]="type.ID">
                {{ type.type }}
              </ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-12>
          <ion-item>
            <ion-label stacked>{{ "ADDRESS" | translate }}</ion-label>
            <ion-input [(ngModel)]="calendar.post_calendar_address" name="post_calendar_address" type="address">
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-12>
          <ion-item>
            <div class="input-image">

              <label class="item btn-cursor" for="post_image_calendar" >
                <ion-icon item-start name="images"></ion-icon>
                <span>{{ "ATTACH_IMAGE" | translate }}</span>                 
              </label>

              <input id="post_image_calendar" [(ngModel)]="calendar.post_image" (change)="fileChangeEvent($event)" type="file" name="post_image" accept="image/*" webkitdirectory="true" multiple="false" />

              <div id="post_image_calendar_preview" class="image-container"></div>

            </div>
          </ion-item>

        </ion-col>

      </ion-row>

    </ion-item-group>

    <ion-item>

      <ion-badge *ngIf="errorSubmit != undefined">
        {{ errorSubmit | translate }}
      </ion-badge>

      <button type="submit" ion-button full>{{'SAVE' | translate}}</button>

    </ion-item>

  </form>

</ion-content>
