.page-profile {

  background-color: #fafafa;

  .personalData {
    ion-label {
      color: $titulos;
      font-weight: normal;
      margin-top: 20px;
    }
  }

  .about {

    p{
      margin-top: 20px;
      strong {
        font-size: 12px;
        display: block;
      }
    }

    p,
    ul {
      font-weight: 100;
      font-size: 16px;
    }

    ul {
      padding: 0;
      margin: 20px 0;
      list-style: none;

      li {
        width: 50%;
        margin-bottom: 10px;
        display: block;
        float: left;

        &.address span {
          display: block;
          font-size: 11px;
        }

        strong {
          font-size: 12px;
          display: block;
        }
      }

    }

  }

  .about-item {
    padding: 10px;
    margin-top: 5px;
    border-bottom: 1px solid #ddd;
    font-weight: 100;
  }

  ion-card-header{
    position: relative;
    button[edit-profile]{
      position: absolute;
      padding: 5px 10px;
      right: 15px;
      top: 7px;
    }
  }

  

}
