.page-profile {

  background-color: #fafafa;

  .personalData {
    ion-label {
      color: $titulos;
      font-weight: normal;
      margin-top: 20px;
    }
  }

  .about, .institute-about{

    p{
      margin-top: 20px;
      strong {
        font-size: 12px;
        display: block;
      }
    }

    p,
    ul {
      font-weight: 100;
      font-size: 16px;
    }

    ul {
      padding: 0;
      margin: 20px 0;
      list-style: none;

      li {
        width: 50%;
        margin-bottom: 10px;
        display: block;
        float: left;

        &.address span {
          display: block;
          font-size: 11px;
        }

        strong {
          font-size: 12px;
          display: block;
        }
      }

    }

  }

  .institute-about{
    display: inline-block;
    margin-bottom: 15px; 
    ul li{
      width: 100%;
      font-size: 12px;
    }
  }

  .my-sports{
    
    font-weight: 100;

    ion-item-group{
      margin-bottom: 15px;

      &.sports{
        .sport-badge, .club-badge{
          margin-bottom: 5px;
        }
      }

    }
    
    .about-item {
      padding: 10px;
      margin-top: 5px;
      border-radius: 15px;
      background-color: #f9f9f9;
      font-weight: 100;
    }
  }

  .my-team{
    
    background: linear-gradient(to top, #eee, #f9f9f9); 

    .member{
      border: 1px solid #c1c1c1;
      text-align: center;
      border-radius: 5px;
      
      ion-card{
        background-color: transparent;
        color: $branco;
        border:0px;
        margin: 0px;
        width: 100%;

        .item-md h2{
          font-size: 1.1rem;
          color: #333 !important; 
        }

      }
    }

    
  }

 

  ion-card-header{
    position: relative;
    button[edit-profile]{
      position: absolute;
      padding: 5px 10px;
      right: 15px;
      top: 7px;
    }
  }

  

}
