<ion-header>

  <ion-toolbar>
    <ion-buttons left>
      <button ion-button class="back-button bar-button bar-button-md back-button-md bar-button-default bar-button-default-md show-back-button" style="display: block;" (click)="backButton()">
          <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ "PROFILE" | translate }}</ion-title>

  </ion-toolbar>

</ion-header>

<ion-content class="page-profile">

  <ion-grid>
    
    <ion-row padding> 

      <profile-resume (changeViewEvent)="changeComponentView($event)"></profile-resume><!-- Resumo de Perfil --> 

      <ion-col col-12 col-md-9 offset-md-3> 

        <ion-buttons item-end>

          <button *ngIf="isLogged == false" ion-button small icon-end clear 
          (click)="followProfile($event)"> 
            {{ (following == true)? 'FOLLOWING': 'FOLLOW' | translate }}
            <ion-icon item-end [name]="(following == true)? 'checkmark-circle': ''"></ion-icon>
          </button><!-- Seguir usuário-->

          <button *ngIf="typeUser <= 3" ion-button small outline (click)="addToTeam($event)">
            {{ (addedTeam == false)? 'ADD_MY_CLUB': 'REMOVE_MY_CLUB' | translate }}
          </button><!-- Exibido apenas para usuários 'não-institucionais' -->

          <a ion-button small outline [href]="downloadProfilePDF()" download>
            {{ "DOWNLOAD_PROFILE" | translate }}
          </a><!-- Download de Profile -->

          <button *ngIf="following" ion-button small outline (click)="sendChatMessage()">
            {{ "MESSAGE" | translate }}
          </button><!-- Abrir Chat com usuário  -->

          <button *ngIf="following" ion-button small outline (click)="sendProfileMessage()">
            {{ "SEND_EMAIL" | translate }}
          </button><!-- Enviar Email -->

        </ion-buttons>

      </ion-col>

      <ion-col id="ProfileData" col-12 col-md-9 offset-md-3>

        <ng-template profile-view></ng-template> 

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>

<!-- Campo de envio de mensagem -->
<profile-message *ngIf="showMessageBox" [$user_ID]="ID" [$display_name]="display_name"></profile-message>
