<ion-header>

  <ion-toolbar>    
    
    <ng-container *ngIf="siteVisitor; else showBackButton">

        <ion-buttons left>
      
            <button ion-button icon-start color="light" class="back-button bar-button bar-button-md back-button-md bar-button-default bar-button-default-md show-back-button" style="float:left;" (click)="goLogin()"> 
                <ion-icon name="contact"></ion-icon>
                {{ "LOGIN" | translate }}
            </button>
      
        </ion-buttons>
        
        <ion-title>{{ "INVITATION_REGISTER" | translate }}</ion-title>

    </ng-container>

    <ng-template #showBackButton>
        
        <ion-buttons left>     

          <button ion-button class="back-button bar-button bar-button-md back-button-md bar-button-default bar-button-default-md show-back-button" style="display: block;float:left;" (click)="backButton()">
              <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
          </button>
      
        </ion-buttons>
          
        <ion-title>{{ "PROFILE" | translate }}</ion-title>

    </ng-template>    

  </ion-toolbar>  

</ion-header>

<ion-content class="page-profile">

  <ion-grid>
    
    <ion-row padding> 

      <profile-resume (changeViewEvent)="changeComponentView($event)"></profile-resume><!-- Resumo de Perfil --> 

      <ion-col *ngIf="isLogged"  id="profile-menu" col-12 col-md-9 offset-md-3> 

        <ion-buttons item-end>
    
          <button *ngIf="!isLogged"  ion-button small icon-end clear 
          (click)="followProfile($event)"> 
            {{ (following == true)? 'FOLLOWING': 'FOLLOW' | translate }}
            <ion-icon item-end [name]="(following == true)? 'checkmark-circle': ''"></ion-icon>
          </button><!-- Seguir usuário-->

          <button *ngIf="loggedUser.type.ID > 2 && addedTeam; else addClub" ion-button small icon-end outline (click)="addToTeam($event)">
            {{ 'REMOVE_MY_CLUB' | translate }}
            <ion-icon item-end name="remove"></ion-icon>
          </button><!-- Exibido apenas para usuários que fazem parte da equipe -->

          <ng-template #addClub>
            <button *ngIf="loggedUser.type.ID > 2 && typeUser < 3"  ion-button small icon-end clear (click)="addToTeam($event)">
              {{ 'ADD_MY_CLUB' | translate }}
              <ion-icon item-end name="add"></ion-icon>
            </button><!-- Exibido se usuário não faz parte da equipe -->
          </ng-template>          

          <a ion-button small icon-end outline [href]="downloadProfilePDF()" download>
            {{ "DOWNLOAD_PROFILE" | translate }}
            <ion-icon item-end name="download"></ion-icon>
          </a><!-- Download de Profile -->

          <button *ngIf="following" ion-button small icon-end outline (click)="sendChatMessage()">
            {{ "MESSAGE" | translate }}
            <ion-icon item-end name="chatboxes"></ion-icon>
          </button><!-- Abrir Chat com usuário  -->

          <button *ngIf="following" ion-button small icon-end outline (click)="sendProfileMessage()">
            {{ "SEND_EMAIL" | translate }}
            <ion-icon item-end name="mail"></ion-icon>
          </button><!-- Enviar Email -->

        </ion-buttons>

      </ion-col>

      <ion-col id="ProfileData" col-12 col-md-9 offset-md-3>

        <ng-template profile-view></ng-template> 

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>

<!-- Campo de envio de mensagem -->
<profile-message *ngIf="showMessageBox" [$user_ID]="ID" [$display_name]="display_name"></profile-message>
