<section class="profile-resume">
  <ion-list>

    <header>

      <button id="btn-favorite" ion-item icon-only clear (click)="favoriteUser(ID, $event)">
        <ion-icon [name]="(favorite  == true)? 'star': 'star-outline'"></ion-icon>
        {{ "Favorite" | translate }}
      </button>

      <ion-list>
        <ion-avatar class="btn-cursor" item-start>
          <img *ngIf="profile_img, else elseBlock"  [src]="profile_img" />
          <ng-template #elseBlock>
              <img  src="assets/img/user.png"/>
          </ng-template>          
        </ion-avatar>
      </ion-list>

      <h1>{{ display_name | titlecase }}</h1>

      <ion-list *ngIf="views">
        <button ion-button clear *ngFor="let v of views" (click)="loadView(v)">
          {{ v.title | translate}}
        </button>
      </ion-list>

    </header>

    <ion-grid no-padding>
      <ion-row>
        <ion-col class="block" text-center *ngIf="height">
          <ion-list>
            <ion-label>{{ "HEIGHT" | translate }}</ion-label>
            {{ height }}
          </ion-list>
        </ion-col>
        <ion-col class="block" text-center *ngIf="birthdate">
          <ion-list>
            <ion-label>{{ "BIRTHDATE" | translate }}</ion-label>
            {{ birthdate | date:'yyyy' }}
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="block" text-center *ngIf="weight">
          <ion-list>
            <ion-label>{{ "WEIGHT" | translate }}</ion-label>
            {{ weight }}
          </ion-list>
        </ion-col>
        <ion-col class="block" text-center *ngIf="jogos">
          <ion-list>
            <ion-label>{{ "PLAYED_MATCHES" | translate }}</ion-label>
            {{ jogos }}
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-item id="feature">

      <ion-label text-center>{{ "PERFORMANCE" | translate }}</ion-label>

    </ion-item>

  </ion-list>
</section>
