.profile-resume {

  background: linear-gradient(to top, $button-primary-color, $vermelho-contraste);
  color: #fff !important;
  text-align: center;

  @media screen and (min-width: 600px) {
    width: 100%;
    max-width: 24%;
    height: 100%;
    position: fixed;
    top: 60px;
    left: 0px;
  }

  header, .block{
    padding: 10px;
    background: linear-gradient(to top, transparent, lighten($vermelho-contraste, 5%));

    h1{
      font-size: 2.2rem;
    }
  }

  ion-avatar{
    
    border-radius: 50%;
    padding-top: 30px;
    overflow: hidden;

    img{
      max-width: 100px;
      width: 100px;
      height: 100px;
      display: block;
      margin: auto;
    }
  }

  ion-label{
    color: $branco;
    font-weight: 400;
    text-align: center;
  }

  button[clear]{
    color: #fff;
  }

  .block {

    margin: 0px;
    ion-list{
      font-size: 2.4rem;
      ion-label{
        font-size: 12px;
      }

    }

    &:nth-child(1) {
      border-right: 1px solid $vermelho-contraste;
      //border-bottom: 1px solid $vermelho;
    }

    
  }

}
