<section class="profile-resume">
  <ion-list>

    <header>

      <button id="btn-favorite" ion-button icon-only clear (click)="favoriteUser(ID, $event)">
        <ion-icon [name]="(favorite == true)? 'star': 'star-outline'"></ion-icon>
      </button>

      <ion-list>
        <ion-avatar class="btn-cursor" item-start>
          <img *ngIf="profile_img, else elseBlock" [src]="profile_img" />
          <ng-template #elseBlock>
            <img src="assets/img/user.png" />
          </ng-template>

          <ng-container *ngIf="isLogged">
            <label (click)="openFileInput($event)" class="change-photo btn-cursor ion-button large img-center clear">
              <ion-icon item-start name="camera"></ion-icon>
            </label>
            <input id="update-photo" type="file" ([ngModel])="uploadPhoto" (change)="changePhoto($event)" style="display:none;"  accept="image/*" />
          </ng-container>

        </ion-avatar>

      </ion-list>

      <h1>{{ display_name | stringTitlecaseSpecialChars }}</h1>

      <ul class="list-inline">
        <li padding-right><small>{{ type.type }}</small></li>
        <li padding-right><small>{{ posicao | stringTitlecaseSpecialChars }}</small></li>
        <li *ngIf="type.ID != 2; else showCareer" ><small>{{ sport[0].sport_name }}</small></li>
        <ng-template #showCareer>
            <li><small>{{ career.value }}</small></li>
        </ng-template>
      </ul>

      <ion-list no-margin *ngIf="views">
        
        <button ion-button outline small *ngFor="let v of views"  (click)="loadView(v)">
            {{ v.title | translate }}
        </button>

        <ng-container *ngIf="enableAdminClubButton" >
            <button ion-button outline small *ngFor="let v of adminViews"  (click)="loadView(v)">
                {{ v.title | translate }}
            </button>
        </ng-container>        
          
      </ion-list>

    </header>

    <ion-grid no-padding>
      <ion-row>
        <ion-col col-md-3 class="block" text-center *ngIf="height">
          <ion-list>
            <ion-label>{{ "HEIGHT" | translate }}</ion-label>
            {{ height }}
          </ion-list>
        </ion-col>
        <ion-col col-md-3 class="block" text-center *ngIf="birthdate">
          <ion-list>
            <ion-label>{{ "BIRTHDATE" | translate }}</ion-label>
            {{ birthdate | dateReplaceToTrace | date:'yyyy' }}
          </ion-list>
        </ion-col>
        <ion-col col-md-3 class="block" text-center *ngIf="weight">
          <ion-list>
            <ion-label>{{ "WEIGHT" | translate }}</ion-label>
            {{ weight }}
          </ion-list>
        </ion-col>
        <ion-col col-md-3 class="block" text-center *ngIf="jogos">
          <ion-list>
            <ion-label>{{ "PLAYED_MATCHES" | translate }}</ion-label>
            {{ jogos }}
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-label text-center>{{ "PERFORMANCE" | translate }}</ion-label>

    <chart [type]="typeChart" [data]="data" [options]="options"></chart>

  </ion-list>
</section>
