<ion-header>
  <ion-toolbar>
    <ion-grid fixed>
      <ion-row>
        <ion-col col-md-4 col-12>
          <img width="275" height="38" src="assets/img/atletasnow-logotipo-negativo.svg" id="main-logo" class="img-left"
            title="AtletasNOW" align-self-left />
        </ion-col>
        <ion-col col-md-8 col-12>
          <ion-row>
            <ion-col text-right no-padding>
              <ion-buttons>
                <notify></notify><!-- Notificações -->
                <user-menu></user-menu><!-- Icones de navegação -->
              </ion-buttons>
            </ion-col>
            <ion-col col-7 align-self-end>
              <member-current-user [member]="currentUserData"></member-current-user><!-- Proprio User -->
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>

  <ion-navbar>

    <ion-grid fixed>

      <ion-row>
        <ion-col col-md-8 col-0>

          <nav-menu></nav-menu><!-- Menu de navegação -->

        </ion-col>
        <ion-col col-md-4 col-8>

          <ion-buttons end>
            <search-member></search-member><!-- Componente de pesquisa de usuário -->
          </ion-buttons>

        </ion-col>
      </ion-row>

    </ion-grid>

  </ion-navbar>

</ion-header>

<ion-content class="page-dashboard">

  <ion-grid fixed>
    <ion-row padding>

      <ion-col col-md-4 col-12 no-padding>
        <ion-card class="profile-info">
          <ion-row>
            <ion-col>
              <ion-card class="views">
                <ion-card-header>
                  <ion-list>
                    <ion-item>
                      <img src="assets/img/dashboard/views.png" />
                    </ion-item>
                    <span class="grande">
                      {{ info.views}}
                    </span>
                    <p>pessoas</p>
                  </ion-list>
                </ion-card-header>
                <ion-card-content>
                  <p>Viram seu perfil</p>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col>
              <ion-card class="views">
                <ion-card-header>
                  <ion-list>
                    <ion-item>
                      <img src="assets/img/dashboard/messages.png" />
                    </ion-item>
                    <span class="grande">
                      {{ info.messages}}
                    </span>
                    <p>mensagens</p>
                  </ion-list>
                </ion-card-header>
                <ion-card-content>
                  <p>Não lidas</p>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col>
              <ion-card class="views">
                <ion-card-header>
                  <ion-list>
                    <ion-item>
                      <img src="assets/img/dashboard/my-favorite.png" />
                    </ion-item>
                    <span class="grande">
                      {{ info.favorite.myFavorites}}
                    </span>
                    <p>Favoritos</p>
                  </ion-list>
                </ion-card-header>
                <ion-card-content>
                  <p>Seus prediletos</p>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col>
              <ion-card class="views">
                <ion-card-header>
                  <ion-list>
                    <ion-item>
                      <img src="assets/img/dashboard/other-favorite.png" />
                    </ion-item>
                    <span class="grande">
                      {{ info.favorite.otherFavorite}}
                    </span>
                    <p>pessoas</p>
                  </ion-list>
                </ion-card-header>
                <ion-card-content>
                  <p>Me favoritaram</p>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>

      <ion-col col-md-5 col-12>

        <ion-card>

          <ion-card-header>
            {{ "ADD_PUBLICATION" | translate}}
          </ion-card-header>

          <ion-card-content>

            <form #postTimelineForm="ngForm" (ngSubmit)="addItem( postTimelineForm, $event)">

              <ion-list>
                <ion-item>
                  <ion-select float-right name="post_visibility" interface="popover" [(ngModel)]="addTimeline.post_visibility">
                    <ion-option *ngFor="let item of visibility" [value]="item.value" [selected]="item.value == 0">
                      {{item.option}}
                    </ion-option>
                  </ion-select>
                </ion-item>
              </ion-list>

              <ion-row>
                <ion-col col-12>
                  <ion-item no-padding>

                    <ion-avatar class="btn-cursor" item-start>
                      <img *ngIf="currentUserData.metadata.profile_img.value, else elseBlock" [src]="currentUserData.metadata.profile_img.value" />
                      <ng-template #elseBlock>
                        <img src="assets/img/user.png" />
                      </ng-template>
                    </ion-avatar>

                    <ion-textarea name="post_content" [(ngModel)]="addTimeline.post_content" type="textarea"
                      placeholder="{{ 'POST' | translate }}" required></ion-textarea>
                  </ion-item>
                </ion-col>
                <ion-col col-6>
                  <div class="input-image">
                    
                    <label class="item btn-cursor" for="post_image">
                      <ion-icon item-start name="images"></ion-icon>
                      <span>{{ "ATTACH_IMAGE" | translate }}</span>
                    </label>

                    <div id="preview" class="image-container"></div>

                    <input ion-button outline id="post_image" (change)="fileChangeEvent($event)" type="file" name="post_image" [(ngModel)]="addTimeline.post_image" />
                    
                  </div>
                </ion-col>
                <ion-col col-6>
                  <button ion-button full end>{{ 'PUBLISH' | translate }}</button>
                </ion-col>
              </ion-row>
            </form>
          </ion-card-content>

        </ion-card>

        <timeline></timeline>

      </ion-col>

      <ion-col col-md-3 no-padding>

        <ion-card class="profile-activity">

          <ion-card-header>
            <h2>{{ "ACTIVITY" | translate }}</h2>
          </ion-card-header>

          <ion-scroll direction="y" scrollY="true" scrollbar-y="true" style="height: 400px;">

            <ion-card class="btn-cursor" *ngFor="let i of activity" (click)="goToProfile(i.post_author.ID)">

              <ion-card-content>
                <p>
                  <strong>{{ i.post_author.display_name}}</strong> publicou '{{ i.post_type}}' em {{ i.post_date |
                  date }}
                </p>
              </ion-card-content>

            </ion-card>

          </ion-scroll>

        </ion-card>

      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
