<ion-list class="calendar-item" no-padding>
  <ion-item>

    <ion-thumbnail item-start *ngIf="img_thumbnail">
      <img [src]="img_thumbnail" class="image-content btn-cursor" />
    </ion-thumbnail>

    <div class="calendar-info">
      <h2 class="title">{{ calendarAtributes.post_title }} <span
          class="type-tag">{{ calendarAtributes.post_meta.post_calendar_type[1] }}</span></h2>
      <p class="description">{{ calendarAtributes.post_excerpt }}</p>
      <div class="calendar-date">
        <span class="date">
          <strong>{{ calendarAtributes.post_meta.post_calendar_date[0] | date }}</strong></span>
        <span class="hour">{{ calendarAtributes.post_meta.post_calendar_date[1] }}</span>
      </div>
    </div>

  </ion-item>

  <ion-item-group>

    <ion-item-divider>

      <ion-list class="action-buttons">

        <button ion-button icon-only small like value="{{ 'LIKE' | translate }}"
          [ngClass]="{'active': calendarAtributes.has_like === true, 'inactive': calendarAtributes.has_like === false}"
          (click)="setLike(calendarAtributes.ID, $event)">
          <ion-icon md="ios-thumbs-up-outline"></ion-icon>
        </button>

        <button ion-button icon-only small like value="{{ 'COMMENT' | translate}}" (click)="openComment($event)">
          <ion-icon md="ios-chatbubbles-outline"></ion-icon>
        </button>

        <div class="item-edit-buttons" float-right>
          <ul class="list-inline">
            <li *ngIf="currentUser.ID == calendarAtributes.post_author.ID">
              <button no-margin edit-calendar ion-button small start clear (click)="updateItem(calendarAtributes.ID)">
                {{ "EDIT" | translate }}
              </button>
            </li>
            <li *ngIf="currentUser.ID == calendarAtributes.post_author.ID">
              <button delete-calendar ion-button small clear icon-end (click)="deleteTimeline(calendarAtributes.ID)">
                {{ "DELETE" | translate }}
                <ion-icon end name="close-circle"></ion-icon>
              </button>
            </li>
            <li>
              <button ion-button small end outline class="open-view" (click)="openView(calendarAtributes.ID, $event)">
                {{ 'VIEW_MORE' | translate}}
              </button>
            </li>
          </ul>

        </div>

      </ion-list>

    </ion-item-divider>

  </ion-item-group>

  <ion-item-group class="comment-section" *ngIf='commentShow'>

    <ion-row>
      <ion-col col-auto>
        <ion-item>
          <ion-avatar class="btn-cursor" item-start>
            <img *ngIf="currentUser.metadata.profile_img.value, else elseBlock"
              [src]="currentUser.metadata.profile_img.value" />
            <ng-template #elseBlock>
              <img src="assets/img/user.png" alt="currentUser.display_name" />
            </ng-template>
          </ion-avatar>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-textarea name="comment_content" [(ngModel)]="commentText" type="text"
          placeholder="{{ 'YOUR_COMMENT' | translate }}" required></ion-textarea>
        <button ion-button small float-right end
          (click)="submitComment(calendarAtributes.ID, $event)">{{ "PUBLISH" | translate }}</button>
      </ion-col>
    </ion-row>

  </ion-item-group>

</ion-list>

<hr />
