<ion-card class="calendar-feed">

    <ion-scroll direction="y" scrollY="true" scrollbar-y="true" style="height: 300px;" >
      
      <ion-card *ngIf="currentItems.length <= 0">
            <ion-card-content>
                {{ "NOT_TO_SHOW" | translate }} 
            </ion-card-content> 
      </ion-card>
        
      <calendar-single [calendarAtributes]="calendar" (timelineDeleted)="hideTimeline($event, $i)" (calendarUpdate)="calendarUpdate($event, $i)" [onlyRead]="onlyRead" [currentUser]="currentUser" *ngFor="let calendar of currentItems; let $i = index"></calendar-single>

      <p class="refresh" text-center>
        <button ion-button small mr-15 (click)="loadMore($event);">
          {{ 'LOAD_MORE' | translate }}
        </button>
      </p><!-- Botão para carregar mais -->

    </ion-scroll>

</ion-card>