<ion-header>

  <ion-toolbar>
    <ion-buttons left>
      <button ion-button class="back-button bar-button bar-button-md back-button-md bar-button-default bar-button-default-md show-back-button" style="display: block;" (click)="backButton()">
          <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ 'SEARCH_MEMBERS' | translate }}</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content id="page-search-member" class="page-search">

  <ion-grid>
    <ion-row>
      <ion-col col-md-4 col-12>

        <form #searchForm="ngForm" (submit)="submitSearch(searchForm, $event)">

          <ion-card padding>

            <ion-grid>
              <ion-row>
                <ion-col padding class="margin-input">
                  <ion-searchbar type="text" padding name="display_name" [(ngModel)]="query.display_name" placeholder="{{ 'DISPLAY_NAME' | translate }}"></ion-searchbar>
                  <button ion-button full>{{ "SEARCH" | translate }}</button>
                  <p ion-button clear text-center small full class="btn-cursor" (click)="showFilterOptions();">
                    {{ "FILTER" | translate }}
                    <ion-icon margin-left name="arrow-dropdown"></ion-icon>
                  </p>
                </ion-col>
              </ion-row>
            </ion-grid>
            

            <ion-grid [ngClass]="{show: filter == true, hide: filter == false }">
              <ion-row>
                <ion-col padding class="margin-input">
                  <ion-label stacked>{{ "SPORT" | translate }}</ion-label>
                  <ion-list>
                    
                    <tag-input [(ngModel)]="$sportSelected" [addOnBlur]="false"
                      [onlyFromAutocomplete]="true" placeholder="{{ 'WRITE_SPORT' | translate}}" name="sportSelected"
                      required>
                      <tag-input-dropdown [autocompleteItems]="$sportList" [matchingFn]="tagInputChange"></tag-input-dropdown>
                    </tag-input>

                  </ion-list>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label stacked>{{ "CLUBS" | translate }}</ion-label>
                    <ion-select name='clubs' [(ngModel)]="query.clubs" full>
                      <ion-option *ngFor="let item of $clubsList" [value]="item.ID">
                        {{item.display_name}}
                      </ion-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-label stacked>{{ "TYPE_USER" | translate }}</ion-label>
                    <ion-select id="tipo" [(ngModel)]="$typeUserSelected" name='typeUserSelected' full>
                      <ion-option *ngFor="let item of $typeUserList" [value]="item.valor">
                        {{item.texto}}
                      </ion-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label stacked>{{ "NEIGHBORNHOOD" | translate }}</ion-label>
                    <ion-input [(ngModel)]="query.neighbornhood" name="neighbornhood" type="text"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-label stacked>{{ "CITY" | translate }}</ion-label>
                    <ion-input [(ngModel)]="query.city" name="city" type="text"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>
                  <ion-item>
                    <ion-label stacked>{{ "STATE" | translate }}</ion-label>
                    <ion-select id="state" [(ngModel)]="query.state" name='state' full>
                      <ion-option *ngFor="let item of $statesList" [value]="item">
                        {{item}}
                      </ion-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-label stacked>{{ "GENDER" | translate }}</ion-label>
                    <ion-select id="gender" [(ngModel)]="query.gender" name='gender' full>
                      <ion-option *ngFor="let item of $genderList" [value]="item.valor">
                        {{item.texto}}
                      </ion-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>

                <ion-col>
                  <ion-item>
                    <ion-label stacked>{{ "FORMATION" | translate }}</ion-label>
                    <ion-input [(ngModel)]="query.formacao" name="formacao" type="text"></ion-input>
                  </ion-item>
                </ion-col>

              </ion-row>
            </ion-grid>            

          </ion-card>

        </form>
      </ion-col>
      <ion-col col-md-7 col-12>

        <ion-card class="search-container">
          <ion-list>

            <h2>
                {{ "PROFILES_FOUND" | translate }}
            </h2>

            <ng-container *ngIf="$memberList.length <= 0">
              <ion-item>
                <ion-item-divider>
                  {{ "NOT_MEMBER_SHOW" | translate }}
                </ion-item-divider>
              </ion-item>
            </ng-container>

            <ng-container *ngIf="$memberList.length > 0">

              <member-container [listMembers]="$memberList"></member-container> 

            </ng-container>

          </ion-list>

          <ion-infinite-scroll (ionInfinite)="loadMore($event)">
              <ion-infinite-scroll-content></ion-infinite-scroll-content>
          </ion-infinite-scroll>
          
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
