<ion-content class="page-initial page-profile-type" padding>

  <ion-grid fixed>

    <ion-item>
      <ion-img width="275" height="38" src="assets/img/atletasnow-logotipo.svg" id="main-logo" class="img-center"
        title="AtletasNOW"></ion-img>
    </ion-item>

    <!-- Steps -->
    <ion-row class="steps-count">
      <ion-col>
        <span>1</span>{{ 'STEP' | translate }} 1
      </ion-col>
      <ion-col>
        <span class="actived">2</span>{{ 'STEP' | translate }} 2
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <form #registerForm="ngForm" (submit)="submitRegister(registerForm); $event.preventDefault()">

          <!-- Selecionar tipo de usuário -->
          <ion-row no-padding>
            <ion-col col-12>
              <ion-label stacked>{{ 'PROFILE' | translate}}</ion-label>
              <ion-select id="tipo" [(ngModel)]="$typeUserSelected" name='typeUserSelected' full required>
                <ion-option *ngFor="let item of $typeUserList" [value]="item.valor">
                  {{item.texto}}
                </ion-option>
              </ion-select>
            </ion-col>
          </ion-row>

          <!-- Selecionar tipo de usuário -->
          <ion-row no-padding>
            <ion-col col-12>
              <ion-label stacked>{{ 'SPORT' | translate}}</ion-label>
              <rl-tag-input [(ngModel)]="$sportSelected" [addOnBlur]="false" [autocomplete]="true"
                [autocompleteItems]="$sportList" placeholder="{{ 'WRITE_SPORT' | translate}}" name="sportSelected"
                required>
              </rl-tag-input>
            </ion-col>
          </ion-row>

          <!-- Campos especifícos para Atletas e Profissionais -->
          <ion-item-group *ngIf="$typeUserSelected != undefined" no-padding>

            <ion-row no-padding *ngIf="$typeUserSelected < 3">
              <ion-col col-12>
                <ion-label stacked>{{ 'GENDER' | translate}}</ion-label>
                <ion-select id="gender" [(ngModel)]="$account.gender" name='gender' full required>
                  <ion-option *ngFor="let item of $genderList" [selected]="item.valor == 'male'" [value]="item.valor">
                    {{item.texto}}
                  </ion-option>
                </ion-select>
              </ion-col>
            </ion-row>

            <ion-row no-padding *ngIf="$typeUserSelected >= 3">
              <ion-col col-12>
                <ion-label stacked>{{ 'CNPJ' | translate}}</ion-label>
                <ion-input type="numero" [(ngModel)]="$account.cnpj" name="cnpj" placeholder="CNPJ"></ion-input>
              </ion-col>
            </ion-row>

            <!--<ion-row>
              <ion-col col-12>
                <ion-item no-padding>
                  <ion-input id="endereco" [(ngModel)]="$account.address" type="text" name="address" placeholder="{{'ADDRESS' | translate}}"
                    required full></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col col-4>
                <ion-input id="cep" [(ngModel)]="$account.zipcode" type="text" name="zipcode" placeholder="{{'ZIPCODE' | translate}}"
                  required full></ion-input>
              </ion-col>
              <ion-col col-8>
                <ion-input id="bairro" [(ngModel)]="$account.neighborhood" type="text" name="neighborhood" placeholder="{{'NEIGHBORNHOOD' | translate}}"
                  required full></ion-input>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col col-4>
                <ion-input type="text" [(ngModel)]="$account.city" name="city" placeholder="{{'CITY' | translate}}"></ion-input>
              </ion-col>
              <ion-col col-4>
                <ion-item no-padding>
                  <ion-select class="select-state" id="state" [(ngModel)]="$account.state" name="state" placeholder="{{ 'STATE' | translate }}"
                    full required>
                    <ion-option *ngFor="let item of $statesList" [value]="item">
                      {{item}}
                    </ion-option>
                  </ion-select>
                </ion-item>
              </ion-col>
              <ion-col col-4>
                <ion-item no-padding>
                  <ion-input type="text" [(ngModel)]="$account.country" name="country" placeholder="{{'COUNTRY' | translate}}"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>-->

          </ion-item-group>

          <button type="submit" ion-button full>{{'CONFIRM_REGISTER' | translate}}</button>

          <p *ngIf="$error">{{$error}}</p>

        </form>
      </ion-col>
    </ion-row>

    <!-- Login -->
    <ion-row>
      <ion-col>
        <p text-center>{{ 'HAS_ACCOUNT?' | translate }} <a (click)="goToLogin()">{{ 'DO_LOGIN' | translate }}</a> </p>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
