<ion-item-group class="comment-section" *ngIf='commentShow'> 

  <ion-row>
    <ion-col col-auto>
      <ion-item>
        <ion-avatar class="btn-cursor" item-start>
          <img *ngIf="currentUser.profile_img, else elseBlock"
            [src]="currentUser.profile_img" />
          <ng-template #elseBlock>
            <img src="assets/img/user.png" [alt]="currentUser.display_name" />
          </ng-template>
        </ion-avatar>
      </ion-item> 
    </ion-col>
    <ion-col>
      <ion-textarea name="comment_content" [(ngModel)]="commentText" type="text"
        placeholder="{{ 'YOUR_COMMENT' | translate }}" required></ion-textarea>
      <button ion-button small float-right end
        (click)="submitComment($postID, $event)">{{ "PUBLISH" | translate }}</button>
    </ion-col>
  </ion-row>

</ion-item-group>

<ion-item class="comment-item" *ngFor="let currentItem of currentCommentItems; let i = index">

  <ion-list> 

    <article>

      <div *ngIf="currentUser.ID == currentItem.user_id" class="close-button" (click)="deleteComment(currentItem.comment_ID, i)">
          <ion-icon name="close-circle"></ion-icon>
      </div>

      <header (click)="goToProfile(currentItem.user_id)">
        {{ currentItem.comment_author }}
        <span class="date">{{ currentItem.comment_date | date }}</span>
      </header>

      {{ currentItem.comment_content }}

      <button ion-button clear (click)="openComment(currentItem.comment_ID, $event)">
        <ion-icon md="ios-chatbubbles-outline"></ion-icon>
      </button>

    </article>

    <!-- Local para adicionar form de comentário  -->
    <comment-form [$postID]='currentItem.comment_ID' [$type]="'comment/response/'" (CommentUpdate)="emitEvent($event)"></comment-form>

  </ion-list>

  <ion-item-group class="commentResponsesContainer" *ngIf="currentItem.responses">

    <ion-item *ngFor="let resp of currentItem.responses">

      <article> 

        <header (click)="goToProfile(resp.user_id)">
          {{ resp.comment_author }} <span class="date">{{ resp.comment_date | date }}</span>
        </header>

        {{ resp.comment_content }}

        <button ion-button clear (click)="openComment(resp.comment_ID, $event)">
          <ion-icon md="ios-chatbubbles-outline"></ion-icon>
        </button>

      </article>

      <!-- Local para adicionar form de comentário  -->
      <comment-form [$postID]='resp.comment_ID' [$parentID]='currentItem.comment_ID' [$type]="'comment/response/'" (CommentUpdate)="emitEvent($event)"></comment-form> 

    </ion-item>

  </ion-item-group>

</ion-item>
