.comment-item {

    header{
        color: blue;
        margin-bottom: 10px;

        span.date{
            font-size: 1.1rem;
            color: #666;
            margin-left: 15px;
        }
    }

    article{
        position: relative;
        max-width: 95%;
        white-space: normal;
        padding: 15px 30px 15px 15px; 
        border-radius: 5px;
        margin-bottom: 3px;
        display: inline-block;
        font-weight: 100; 
        background-color: #fff;
        box-shadow: 1px 1px 2px rgba(0,0,0,0.3);

        button{
            float: right;
            margin: -10px 0px !important;
        }
    }

    .commentResponsesContainer{
        padding-left: 30px;
    }
    
}