.searchbar-md .searchbar-input,
.searchbar-input {
    border-radius: 30px;
    padding: 5px 50px 5px 15px;
    height: 30px;
    min-height: auto;
    margin: 0.4rem 1rem 0.4rem 0px;
}

button{
    margin-right: 10px !important;
}
