<ion-header>

  <ion-navbar>

    <ion-title>{{ "FAVORITES" | translate }}</ion-title>

  </ion-navbar>

</ion-header>

<ion-content class="page-profile">

  <ion-grid fixed>

    <ion-row padding>

      <ion-col col-md-4 class="profile-suggestions">

        <ion-list>

          <h1>{{ "NEW_FRIENDS_SUGGESTION" | translate }}</h1>

          <div *ngIf="friendsSuggestion.found">

            <p>{{ "SUGGESTIONS_MESSAGE" | translate}}</p>

            <ion-list>
              <ion-badge *ngFor="let message of friendsSuggestion.success.criterio">
                {{ message | translate }}
              </ion-badge>
            </ion-list>

            <member-suggestion *ngFor="let userSugg of friendsSuggestion.found" [member]="userSugg"></member-suggestion>            

          </div>

        </ion-list>

      </ion-col>

      <ion-col id="favorites-col" col-md-8>

        <ion-card>

          <ion-card-header>
            <ion-title>{{ "FAVORITES" | translate }}</ion-title>
          </ion-card-header>

          <ion-item-group>

            <ion-item>

              <ion-list class="atletas" *ngIf="favoriteMembers.Atletas">

                <ion-list-header>
                  {{ "ATLETAS" | translate }}
                </ion-list-header>

                <member-container [listMembers]="favoriteMembers.Atletas"></member-container>

              </ion-list>

              <ion-list class="clubs" *ngIf="favoriteMembers.Clubes">

                <ion-list-header>
                  {{ "CLUBS" | translate }}
                </ion-list-header>

                <member-container [listMembers]="favoriteMembers.Clubes"></member-container>

              </ion-list>

              <ion-list class="outros" *ngIf="favoriteMembers.Outros">

                <ion-list-header>
                  {{ "OTHERS" | translate }}
                </ion-list-header>

                <member-container [listMembers]="favoriteMembers.Outros"></member-container>

              </ion-list>

            </ion-item>
          </ion-item-group>

        </ion-card>

        <ion-card id="friends-col">

          <ion-item-group>
            <ion-item>

              <ion-title>{{ "FRIENDS" | translate }}</ion-title>

              <member-container></member-container>

            </ion-item>
          </ion-item-group>

        </ion-card>

      </ion-col>



    </ion-row>
  </ion-grid>

</ion-content>
