$padding-top: $toolbar-wp-height + 40px;

.profile-suggestions{
    
    @media screen and (min-width: 768px) {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;    
    }

    
    
    padding: $padding-top 25px; 
    background: linear-gradient(to top, $button-primary-color, $vermelho-contraste);
    color: $branco;

    h1, h2, ion-list-header{
        color: $branco !important;
    }
    
}