.profile-suggestions{
    
    padding: 25px;
    background: linear-gradient(to top, $button-primary-color, $vermelho-contraste);
    color: $branco;

    h1, h2, ion-list-header{
        color: $branco !important;
    }
    
}